<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964334802622-j3gms0qrdmtgokl7mi8652jooq50jqsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964334802622-j3gms0qrdmtgokl7mi8652jooq50jqsm</string>
	<key>API_KEY</key>
	<string>AIzaSyCCWnpIa9VpeXWkzcqXIs7NcOJkx-Zgm0k</string>
	<key>GCM_SENDER_ID</key>
	<string>964334802622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.morfos.hugu</string>
	<key>PROJECT_ID</key>
	<string>huguapp-43f57</string>
	<key>STORAGE_BUCKET</key>
	<string>huguapp-43f57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964334802622:ios:86f366e70fde968c</string>
	<key>DATABASE_URL</key>
	<string>https://huguapp-43f57.firebaseio.com</string>
</dict>
</plist>